hotel-ai-agent/Advanced Hotel Agent.json
{
  "name": "Advanced Hotel Agent",
  "nodes": [
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"customer_name\": \"Rahul\",\n  \"contact_number\": \"not provided\",\n  \"items_ordered\": \"Chicken Biryani, Cold Coffee\",\n  \"total_quantity\": 3,\n  \"total_amount\": 620\n}\n",
        "autoFix": true,
        "customizeRetryPrompt": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1808,
        208
      ],
      "id": "314f1967-7b0b-4ef8-91fc-8b0fdd833797",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Order Requirement of the customer : {{ $json.Subject }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Role:\nYou are a polite, professional, and warm AI assistant for Grand Savory Hotel & Restaurant. You handle customer orders, respond via email or chat, confirm details, and thank them for choosing our services.\n\nObjective:\nWhen a customer sends an order request or inquiry, your task is to:\n\nGreet the customer by name (if available).\n\nThank them for choosing or visiting Grand Savory Hotel & Restaurant.\n\nConfirm their ordered items with quantity.\n\nFetch the price for each item from the official menu (provided via Google Drive).\n\nCalculate and display the total bill amount (in ₹).\n\nInform delivery time, typically 25–35 minutes depending on the order size.\n\nMention hotel highlights or additional features, such as:\n\nFree room delivery (7 AM – 11 PM)\n\n10% discount on beverage combos\n\nHygienic preparation and fast service\n\nParty or bulk order options\n\nAsk politely for missing details if not provided:\n\nFull Name\n\nRoom Number (if in hotel) or Delivery Address\n\nPhone Number\n\nEmail ID\n\nEnd politely, confirming that the order has been received or asking for confirmation before processing.\n\nTone:\nFriendly, respectful, and service-oriented.\nUse a warm greeting (“Hello Rahul!” or “Good evening, Mr. Rahul”) and courteous language throughout.\n\nOutput Example:\n(This is how your response should look when replying to a customer order.)\n\nExample json Response:\n{\n  \"orderItems\": [\n    {\n      \"name\": \"Chicken Biryani\",\n      \"quantity\": 2,\n      \"price\": 250\n    },\n    {\n      \"name\": \"Cold Coffee\",\n      \"quantity\": 1,\n      \"price\": 120\n    }\n  ],\n  \"totalBill\": 620,\n  \"currency\": \"₹\",\n  \"taxInfo\": \"inclusive of all taxes\"\n}\n\n\n\n\nRules:\n\nAlways confirm item names, quantity, and price.\n\nBe polite, concise, and customer-focused.\n\nIf any detail is missing (like name or contact), ask for it nicely.\n\nNever expose internal system data (like JSON or API keys).\n\nAlways end messages with gratitude and brand tone.\nitems : \nGrand Savory Hotel & Restaurant\n📍 MG Road, Bengaluru  |  📞 +91 98765 43210\n🍽️ Serving You With Taste & Tradition\nAlways if menu information required call the Menu Agent\n\nNote: All prices include GST. Room delivery available 7:00 AM – 11:00 PM.\nNote : if there are no food items available that the customer or the client wants just mark it as not available\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        272,
        0
      ],
      "id": "dde822ca-67d5-45a9-bc7b-7c25782664f1",
      "name": "Alex Assitant1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('My Mail1').item.json.Subject }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Role:\nYou are a structured data extraction assistant for Grand Savory Hotel & Restaurant.\nYour job is to read incoming customer order messages and return a simple, clean JSON object containing only key billing details.\n\nObjective:\nFrom a customer’s message (for example: “Hi, I’d like to order 2 chicken biryanis and one cold coffee”), extract the following fields:\n\nCustomer Name — full name of the customer (e.g., Rahul).\n\nContact Number — if mentioned in the message (else return \"not provided\").\n\nItems Ordered — a single string listing all ordered items, separated by commas (e.g., \"Chicken Biryani, Cold Coffee\").\n\nTotal Quantity — total number of items ordered (sum of all quantities).\n\nTotal Amount (₹) — total calculated price for all ordered items combined (based on the menu document).\n\nBehavior Rules:\n\nAlways read item names and quantities from the message text.\n\nCombine all item names into one comma-separated string.\n\nAdd all quantities together to form a single numeric value for \"total_quantity\".\n\nUse the hotel’s menu for prices (from Google Drive document).\n\nIf an item’s price is missing, estimate \"total_amount\": \"unknown\".\n\nIf no contact number is mentioned, set \"contact_number\": \"not provided\".\n\nAlways return a single, well-formatted JSON block — no text, comments, or explanations.\n\nExample Input (Customer Message):\n\nHi there,\nI’d like to order 2 chicken biryanis and one cold coffee. Could you please confirm the total price?\nThanks, Rahul\n\nExample Output (Expected JSON):\n\n{\n  \"customer_name\": \"Rahul\",\n  \"contact_number\": \"not provided\",\n  \"items_ordered\": \"Chicken Biryani, Cold Coffee\",\n  \"total_quantity\": 3,\n  \"total_amount\": 620\n}\nitems rate and price :🥘 Main Course – Biryani & Rice Dishes\nItem\tDescription\tPrice (₹)\nChicken Biryani\tClassic Hyderabadi style with raita\t250\nMutton Biryani\tTender mutton cooked with aromatic basmati\t320\nVeg Biryani\tSeasonal vegetables & saffron-infused rice\t210\nEgg Biryani\tFluffy basmati rice with boiled eggs\t230\nPaneer Biryani\tSoft paneer cubes in rich masala\t260\nChicken Fried Rice\tStir-fried rice with chicken & veggies\t220\nSchezwan Fried Rice\tSpicy Indo-Chinese delight\t230\nVeg Pulao\tMildly spiced vegetable rice\t190\n\n🍜 Noodles & Chinese Delights\nItem\tDescription\tPrice (₹)\nVeg Hakka Noodles\tWok-tossed noodles with veggies\t180\nChicken Hakka Noodles\tWith shredded chicken\t210\nSchezwan Noodles\tSpicy red sauce with spring onions\t220\nEgg Noodles\tFried egg and noodles with soy sauce\t200\nChilli Chicken\tCrispy chicken tossed in spicy sauce\t240\nGobi Manchurian\tCrispy cauliflower in tangy sauce\t200\nPaneer Chilli\tCubes of paneer with bell peppers\t230\nChicken 65\tDeep-fried spicy chicken cubes\t250\n\n🌯 Shawarma & Rolls\nItem\tDescription\tPrice (₹)\nClassic Chicken Shawarma\tWrapped with mayo & veggies\t150\nSpicy Shawarma Roll\tExtra spicy Arabic-style roll\t160\nPaneer Shawarma\tPaneer filling with creamy sauce\t140\nChicken Cheese Shawarma\tCheesy version of the classic\t170\nChicken Roll\tGrilled chicken in soft roti wrap\t130\nVeg Roll\tMixed vegetable filling\t120\n\n🍔 Snacks & Sides\nItem\tDescription\tPrice (₹)\nFrench Fries\tGolden & crispy\t110\nPeri-Peri Fries\tTossed in spicy peri-peri mix\t130\nChicken Nuggets\tCrispy nuggets with dip\t160\nPaneer Pakora\tCottage cheese fritters\t140\nVeg Cutlet\tFried veg patty with sauce\t120\nChicken Popcorn\tBite-sized crispy chicken\t150\n\n🥤 Beverages & Juices\nItem\tDescription\tPrice (₹)\nFresh Lime Soda\tSweet/salty as per choice\t90\nCold Coffee\tIced coffee with cream\t120\nMango Milkshake\tThick shake made with real mango\t130\nChocolate Shake\tCreamy cocoa delight\t140\nOrange Juice\tFreshly squeezed\t110\nPineapple Juice\tSweet & tangy tropical juice\t120\nWater Bottle (1L)\tPackaged drinking water\t30\n\n🍰 Desserts\nItem\tDescription\tPrice (₹)\nGulab Jamun (2 pcs)\tSoft & warm in sugar syrup\t90\nBrownie with Ice Cream\tChocolate brownie with vanilla scoop\t160\nFruit Salad\tSeasonal fruits with cream\t130\nIce Cream (2 scoops)\tChoice of flavors\t100\n\n💫 Today’s Special Combos\nItem\tDescription\tPrice (₹)\nLunch Combo (Veg)\tVeg Biryani + Juice + Dessert\t300\nLunch Combo (Non-Veg)\tChicken Biryani + Cold Coffee + Dessert\t350\nChinese Combo\tNoodles + Manchurian + Lime Soda\t320\n\nNote: All prices include GST. Room delivery available 7:00 AM – 11:00 PM.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1632,
        0
      ],
      "id": "372d2e7d-edab-475e-b7b0-0a632b7446a5",
      "name": "Hotel Reciptent1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1un7FxxdtCVQNW7NTUfjE5k-l_DEgG4MUGRI5NcmPBk0",
          "mode": "list",
          "cachedResultName": "Grand Hotel Info",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1un7FxxdtCVQNW7NTUfjE5k-l_DEgG4MUGRI5NcmPBk0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1un7FxxdtCVQNW7NTUfjE5k-l_DEgG4MUGRI5NcmPBk0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name ": "={{ $json.output.customer_name }}",
            "Contact Number": "={{ $json.output.contact_number }}",
            "Quantity ": "={{ $json.output.total_quantity }}",
            "Item ordered": "={{ $json.output.items_ordered }}",
            "Total Amount": "={{ $json.output.total_amount }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name ",
              "displayName": "Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact Number",
              "displayName": "Contact Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Item ordered",
              "displayName": "Item ordered",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Quantity ",
              "displayName": "Quantity ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Amount",
              "displayName": "Total Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2048,
        0
      ],
      "id": "3838ab8a-86d8-4482-9af9-15b8f3224c37",
      "name": "Billing Section And Records1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1GC6iI1szvzXxWYt",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "afa71eb5-2862-410a-b9c4-b7da644c531c",
      "name": "My Mail1",
      "credentials": {
        "gmailOAuth2": {
          "id": "0SXuLT762uSaKzM8",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1488,
        208
      ],
      "id": "3520d730-4779-48fd-91ea-85d5f0533b3e",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "IGLKjn8P5g0Dx2iZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        128,
        208
      ],
      "id": "5fe2e3d1-4377-4af9-8b2d-aca0a4572c32",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "IGLKjn8P5g0Dx2iZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('My Mail1').item.json.id }}",
        "message": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n  <title>Order Confirmation – Grand Savory Hotel & Restaurant</title>\n  <style>\n    body {\n      font-family: 'Poppins', Arial, sans-serif;\n      background-color: #f6f7fb;\n      padding: 30px;\n      margin: 0;\n    }\n\n    .email-container {\n      max-width: 650px;\n      margin: 0 auto;\n      background: #ffffff;\n      border-radius: 16px;\n      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);\n      overflow: hidden;\n    }\n\n    .header {\n      background: linear-gradient(135deg, #d2a679, #b88746);\n      color: #fff;\n      text-align: center;\n      padding: 30px 20px;\n    }\n\n    .header h1 {\n      margin: 0;\n      font-size: 26px;\n      letter-spacing: 1px;\n    }\n\n    .header p {\n      font-size: 14px;\n      margin: 5px 0 0;\n      opacity: 0.9;\n    }\n\n    .content {\n      padding: 30px 35px;\n      color: #333;\n      line-height: 1.7;\n    }\n\n    .content h2 {\n      color: #b88746;\n      font-size: 20px;\n      margin-bottom: 15px;\n    }\n\n    .order-details {\n      background: #fafafa;\n      border-radius: 12px;\n      padding: 20px;\n      border: 1px solid #eee;\n      margin-bottom: 25px;\n    }\n\n    .order-details ul {\n      list-style: none;\n      padding: 0;\n      margin: 0;\n    }\n\n    .order-details li {\n      display: flex;\n      justify-content: space-between;\n      margin: 8px 0;\n      font-size: 15px;\n    }\n\n    .order-details li span:first-child {\n      color: #444;\n    }\n\n    .order-details li span:last-child {\n      color: #222;\n      font-weight: 600;\n    }\n\n    .total {\n      font-size: 18px;\n      font-weight: 700;\n      color: #27ae60;\n      text-align: right;\n      margin-top: 10px;\n    }\n\n    .features {\n      margin-top: 25px;\n      background: #fefcf8;\n      border-left: 4px solid #b88746;\n      padding: 20px;\n      border-radius: 8px;\n    }\n\n    .features ul {\n      list-style: none;\n      margin: 0;\n      padding: 0;\n    }\n\n    .features li {\n      margin: 6px 0;\n      font-size: 15px;\n      color: #555;\n    }\n\n    .footer {\n      text-align: center;\n      font-size: 13px;\n      color: #777;\n      border-top: 1px solid #eee;\n      padding: 20px;\n      background: #fcfcfc;\n    }\n\n    .footer p {\n      margin: 5px 0;\n    }\n\n    .btn-confirm {\n      display: inline-block;\n      background: #b88746;\n      color: white;\n      text-decoration: none;\n      padding: 10px 22px;\n      border-radius: 6px;\n      margin-top: 15px;\n      font-weight: 600;\n      transition: background 0.3s ease;\n    }\n\n    .btn-confirm:hover {\n      background: #a57534;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"email-container\">\n    <div class=\"header\">\n      <h1>Grand Savory Hotel & Restaurant</h1>\n      <p>Order Confirmation Receipt</p>\n    </div>\n\n    <div class=\"content\">\n      <p>Hello <strong>{{ $('Alex Assitant1').item.json.output.customer_name }}</strong>,</p>\n      <p>\n        Thank you for choosing <strong>Grand Savory Hotel & Restaurant!</strong><br />\n        We’re delighted to receive your order. Here’s your summary:\n      </p>\n\n      <div class=\"order-details\">\n        <h2>Your Order</h2>\n        <ul>\n       {{ $json.output }}\n        </ul>\n        <div class=\"total\">Total Bill: {{ $json.totalBill }} </div>\n      </div>\n\n      <p>\n        Your order will be freshly prepared and delivered to your room within <strong>30 minutes</strong>.\n      </p>\n\n      <div class=\"features\">\n        <h3>🌟 Additional Features:</h3>\n        <ul>\n          <li>Free in-room delivery (7 AM – 11 PM)</li>\n          <li>10% discount on beverage combos</li>\n          <li>Hygienic kitchen & quick service guarantee</li>\n          <li>Party or bulk order options available</li>\n        </ul>\n      </div>\n\n      <p>\n        Could you please confirm your <strong>phone number</strong> and\n        <strong>email ID</strong> for delivery confirmation?\n      </p>\n\n      <a href=\"#\" class=\"btn-confirm\">Confirm Details</a>\n\n      <p style=\"margin-top:25px;\">\n        Once confirmed, your order will be processed immediately.<br />\n        Thank you again for dining with us — we’re happy to serve you!\n      </p>\n    </div>\n\n    <div class=\"footer\">\n      <p>Warm regards,<br /><strong>The Grand Savory Order Desk Assistant</strong></p>\n      <p>📞 +91 98765 43210</p>\n    </div>\n  </div>\n</body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1248,
        0
      ],
      "id": "65bc1e0b-1850-4edc-9ade-0905c3c39a4f",
      "name": "Reply to a message",
      "webhookId": "f89b5e2a-3257-4453-b028-5e3de50dc54d",
      "credentials": {
        "gmailOAuth2": {
          "id": "0SXuLT762uSaKzM8",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the string from previous node\nlet raw = $input.first().json.output;\n\n// If it's a string, parse it to JSON\nlet data = typeof raw === 'string' ? JSON.parse(raw) : raw;\n\n// Build HTML for each item\nlet orderHTML = (data.orderItems || [])\n  .map(item => `\n    <p style=\"margin: 4px 0; font-size: 14px;\">\n      ${item.name} × ${item.quantity} – ${data.currency}${item.price} each\n    </p>\n  `)\n  .join('');\n\n// Create a formatted total bill string\nlet totalBillText = `${data.currency}${data.totalBill} (${data.taxInfo || 'incl. all taxes'})`;\n\n// Return both separately\nreturn [\n  {\n    json: {\n      orderHTML,      // all the item rows\n      totalBill: totalBillText // final amount separately\n    }\n  }\n];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        0
      ],
      "id": "67e0db0f-63b0-4f0e-a0ca-3d28c0c4062b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d106e7e-19bc-4aec-a2dd-da6c15c80693",
              "name": "output",
              "value": "={{ $json.orderHTML }}",
              "type": "string"
            },
            {
              "id": "5cb23052-0a22-4d26-a947-d1b55169d124",
              "name": "totalBill",
              "value": "={{ $json.totalBill }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        0
      ],
      "id": "181a99c9-4838-44e5-8e2b-df4b8616e7b6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1744,
        416
      ],
      "id": "661b20f1-64c8-4d32-9233-4da50b383a15",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "IGLKjn8P5g0Dx2iZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        896,
        464
      ],
      "id": "7889d9bc-5266-43f8-b22c-c4a2756d4b68",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BQWL0mNrekKsGXDc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo222222",
          "mode": "list",
          "cachedResultName": "demo222222"
        },
        "options": {
          "pineconeNamespace": "Menu"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1104,
        464
      ],
      "id": "3f1313c0-5aed-428a-9d60-a33e5f2029f4",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "FPTnBSNz0Y7GcTnb",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "splitPages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1232,
        688
      ],
      "id": "8666f3a8-3c49-4015-81a5-5f77122197de",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1152,
        896
      ],
      "id": "57113398-82d6-46c4-bbb9-6cba8791c81c",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"orderItems\": [\n    {\n      \"name\": \"Paneer Chili\",\n      \"quantity\": 2,\n      \"price\": 230\n    },\n    {\n      \"name\": \"Cold Coffee\",\n      \"quantity\": 2,\n      \"price\": 120\n    },\n    {\n      \"name\": \"Brownie with Ice Cream\",\n      \"quantity\": 1,\n      \"price\": 160\n    }\n  ],\n  \"totalBill\": 860,\n  \"currency\": \"₹\",\n  \"taxInfo\": \"inclusive of all taxes\",\n  \"customer_name\": \"Rahul\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        736,
        208
      ],
      "id": "4cd4d699-2e19-4d9e-8f41-b3c42549edbd",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFile",
        "fileToWatch": {
          "__rl": true,
          "value": "11LtqdyPX9Esdf9bDYFPyRs19OOUfHcFQ",
          "mode": "list",
          "cachedResultName": "Grand_Savory_Hotel_Menu.docx",
          "cachedResultUrl": "https://docs.google.com/document/d/11LtqdyPX9Esdf9bDYFPyRs19OOUfHcFQ/edit?usp=drivesdk&ouid=114065244045757332431&rtpof=true&sd=true"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        672,
        464
      ],
      "id": "b6d0f24d-2765-46a5-8963-86d674101234",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BQWL0mNrekKsGXDc",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        976,
        672
      ],
      "id": "2f2d113a-e022-4fa8-9f64-b59066c897d1",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "IGLKjn8P5g0Dx2iZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "call this tool to access exact prices of the food items ",
        "pineconeIndex": {
          "__rl": true,
          "value": "demo222222",
          "mode": "list",
          "cachedResultName": "demo222222"
        },
        "options": {
          "pineconeNamespace": "Menu"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        400,
        224
      ],
      "id": "e3330c62-b2ae-4298-b8a5-72a77d5c1672",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "FPTnBSNz0Y7GcTnb",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        240,
        336
      ],
      "id": "de4286e3-4b29-4f90-a705-189bf8b2bc0d",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "IGLKjn8P5g0Dx2iZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {
    "My Mail1": [
      {
        "json": {
          "id": "19b1d29f965dc5d1",
          "threadId": "19b1d29f965dc5d1",
          "snippet": "",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 6038,
          "historyId": "2120",
          "internalDate": "1765720787000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "CATEGORY_PERSONAL",
              "name": "CATEGORY_PERSONAL"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            }
          ],
          "From": "shripaad <billions2817@gmail.com>",
          "Subject": "Hi, I’m Priya. I would like to place an order for the following items: French Fries Peri-Peri Fries Chicken Nuggets Paneer Pakora Thank you! Please let me know the next steps for the order. Name: Priya Phone Number: 9876543210 Thanks & regards, Priya",
          "To": "\"buildskill17@gmail.com\" <buildskill17@gmail.com>"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Hotel Reciptent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Alex Assitant1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hotel Reciptent1": {
      "main": [
        [
          {
            "node": "Billing Section And Records1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "My Mail1": {
      "main": [
        [
          {
            "node": "Alex Assitant1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Hotel Reciptent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Alex Assitant1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Reply to a message": {
      "main": [
        [
          {
            "node": "Hotel Reciptent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Alex Assitant1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "Alex Assitant1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "423006ef-7310-4ed4-a803-5db5fb3f9894",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0efff14001a8667d22aaf71db5dda736acdaccf919104620394fbb22626eed68"
  },
  "id": "NLFd2zmEnibizClY",
  "tags": []
}